node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

.vscode
.openzeppelin

beforeContracts
calVestings.xlsx
calUnlockPeriod.xlsx
USDT.sol
XTK.sol

/test
